-- 1. Crear tabla de grupos
CREATE TABLE groups (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    name TEXT NOT NULL,
    slug TEXT UNIQUE NOT NULL,
    primary_color TEXT DEFAULT '#1e3a5f',
    secondary_color TEXT DEFAULT '#d4af37',
    logo_url TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 2. Insertar el grupo base (Remanente Clásico)
INSERT INTO groups (name, slug, primary_color, secondary_color) 
VALUES ('Remanente Oficial', 'remanente-oficial', '#1e3a5f', '#d4af37');

-- 3. Modificar tabla users
ALTER TABLE users ADD COLUMN group_id BIGINT REFERENCES groups(id);

-- Asignar todos los usuarios actuales al grupo base (ID 1)
UPDATE users SET group_id = 1 WHERE group_id IS NULL;

-- (Opcional) Modificar roles de los administradores actuales para que sean MegaAdmins
UPDATE users SET role = 'superadmin' WHERE role = 'admin'; 
